version: "2.0"
services:
  database:
    image: amsterdam/postgres11
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: iotsignals
      POSTGRES_USER: iotsignals
      POSTGRES_PASSWORD: insecure
  api:
    build: ./api
    volumes:
      - ./api/src:/app
    ports:
      - "8001:8001"
    links:
      - database
    environment:
      - http_proxy=
      - https_proxy=
      - no_proxy=
      - DATABASE_NAME=iotsignals
      - DATABASE_PASSWORD=insecure
      - UWSGI_HTTP=0.0.0.0:8001
      - UWSGI_MASTER=1
      - UWSGI_STATIC_INDEX=index.html
      - UWSGI_STATIC_MAP=/iotsignals/static=/static
      - UWSGI_CALLABLE=application
      - UWSGI_VACUUM=1
      - UWSGI_STATIC_EXPIRES=/* 3600
      - UWSGI_OFFLOAD_THREADS=1
      - UWSGI_HARAKIRI=15
      - UWSGI_DIE_ON_TERM=1
      - UWSGI_MODULE=iotsignals.wsgi:application
      - UWSGI_PY_AUTORELOAD=1
