# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

Django<4  # Django 4 not yet supported by djangorestframework-gis
django-datetime-utc
django-filter
django-extensions
django-debug-toolbar
djangorestframework
djangorestframework-gis
djangorestframework-xml
drf_amsterdam
drf-yasg
psycopg2-binary
pytz
requests
sentry-sdk
datapunt-data-ingress
datapunt-authorization-django
django-import-export
django-leaflet

# hotfix for Jinja version mismatch
# see https://github.com/locustio/locust/issues/2061
#
# There are incompatible versions in the resolved dependencies:
#  jinja2==3.1.1 (from -r ./requirements.txt (line 93))
#  Jinja2<3.1.0 (from locust==2.8.6->-r requirements_dev.in (line 13))
#  jinja2 (from coreschema==0.0.4->-r ./requirements.txt (line 19))
jinja2<3.1.0

