certifi
chardet
coreapi
coreschema
defusedxml
Django
django-datetime-utc
django-debug-toolbar
django-extensions
django-filter
djangorestframework
djangorestframework-csv
djangorestframework-gis
djangorestframework-xml
drf_amsterdam
drf-extensions
drf-flex-fields
drf-yasg
factory-boy
Faker
graypy
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
pip-review
psycopg2-binary
pyparsing
python-dateutil
pytz
requests
ruamel.yaml
sentry-sdk
six
sqlparse
text-unidecode
unicodecsv
uritemplate
urllib3
Werkzeug
pip-tools
