certifi
chardet
Click
coreapi
coreschema
defusedxml
Django
django-datetime-utc
django-debug-toolbar
django-extensions
django-filter
djangorestframework
djangorestframework-csv
djangorestframework-gis
djangorestframework-xml
drf_amsterdam
drf-extensions
drf-flex-fields
drf-yasg
entrypoints
factory-boy
Faker
flake8
graypy
idna
inflection
itypes
Jinja2
locustio
MarkupSafe
msgpack
packaging
pip-review
pip-tools
psycopg2-binary
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
pyzmq
requests
ruamel.yaml
sentry-sdk
six
sqlparse
text-unidecode
unicodecsv
uritemplate
urllib3
Werkzeug
