
# Define all DEV requirements used for local development (pinned to a version if necessary).
# See https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

# Base website
-r ./requirements.txt

# Tools for maintaining requirements.txt:
pip-tools

# Useful extra developer packages:
factory-boy
locust
ipython
model_bakery
